mixin icon(name,mod)
  -mod = mod || ''
  svg(class="icon icon-" + name + ' ' + mod)
    use(xlink:href="#" + name)


- var colorCircles = ['#f16192', '#46c1fa', '#ea6ef5', '#86c95a']
- var dashboardsCircles = ['Dashboard 1', 'Dashboard 2','Dashboard 3','Comming Soon'] 
- var layoutsCircles = ['Layout1','Comming Soon'] 
- var pagesCircles = ['Page1','Page2','Comming Soon']
- var tableTitle = ['image', 'product name', 'product code', 'status', 'purchased on', 'price', 'quantity', 'tracking no#']
-var goods = {'good1':[123,122,111],'good2':[321,3121,222]}
