.content__wrap {
  float: left;
  width: 70%;
  padding: 25px;
  color: #777;
}

.content {
  box-shadow: -10px 10px 16px -17px rgba(0, 0, 0, 0.75);
}

.content__wrap.collapse {
  width: 90%;
  transition: .5s ease-in;
}

.conteiner {
  width: 90%;
  margin: 0 auto;
}

.content__top {
  background: #fbfbfb;
  .conteiner {
    line-height: 55px;
    @extend %clearfix;
  }
}

.content__top--rollup {
  display: inline-block;
  &:hover {
    .content__top--rollup_title {
      color: lightgrey;
    }
    .content__top--rollut_icon-svg polyline {
      fill: lightgrey;
    }
  }
}

.content__top--rollup_title {
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  font-weight: 12px;
  margin-right: 10px;
}

.content__top--ctrl_list {
  float: right;
}

.content__top--ctrl_item {
  display: inline-block;
  margin-left: 12px;
}

.content__top--ctrl_button {
  height: 17px;
  width: 17px;
  fill: #777;
  &:hover {
    svg {
      fill: lightgrey;
    }
  }
}

.content__top--rollut_icon-svg {
  height: 10px;
  width: 15px;
  display: inline-block;
}

.content__table {
  width: 100%;
}

.content__table--titles {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  padding: 15px 0;
  text-align: center;
}

.content__obj {
  text-align: center;
}

/* add new table item */
.add__obj--wrapper {
  margin: 20px 40px 0 0 ;
  display: block;
  text-align: right;
  height: 50px;
  @extend %clearfix;
}

.add__obj--button {
  display: inline-block;
  float: right;
  background: lightgrey;
  height: 100%;
  width: 50px;
  margin-right: -40px;
  border-radius: 50px;
  line-height: 50px;
  text-align: center;
  transform: translateX(-50%);
  z-index: 12;
  &:hover {
    border: 1px solid lightgrey;
    background: #fbfbfb;
    .add__obj--icon { 
      color: grey;
    }
  }
}

.add__obj--icon {
  font-size: 35px;
  font-weight: bold;
  color: #fbfbfb;
}

/* vue animation */
.slide-fade-enter-active {
  transition: all .5s ease;
}

.slide-fade-leave-active {
  transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}
.wrap__animation--form {
  overflow: hidden;
  display: inline-block;
  background: #fbfbfb;
  border-top-left-radius: 20px;
}
.block__form--new_obj {
  display: inline-block;
  height: 100%;
}

.form__new_obj {
  display: block;
  padding: 10px;
  border-right: 0;
  padding-left: 30px;
}
.form__titles {
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 20px;
  font-size: 12px;
}
.form__userData {
  color: $c-blue;
  font-size: 14px;
  padding: 3px 5px;
}