.content__wrap {
  float: left;
  width: 70%;
  min-height: calc(100% - 80px);
  padding: 25px;
  color: #777;
}

.content {
  box-shadow: -10px 10px 16px -17px rgba(0, 0, 0, 0.75);
}

.content__wrap.collapse {
  width: 90%;
  transition: .5s ease-in;
}

.conteiner {
  width: 90%;
  margin: 0 auto;
}

.content__top {
  background: #fbfbfb;
  .conteiner {
    line-height: 55px;
    @extend %clearfix;
  }
}

.content__top--rollup {
  display: inline-block;
  &:hover {
    .content__top--rollup_title {
      color: lightgrey;
    }
    .content__top--rollut_icon-svg polyline {
      fill: lightgrey;
    }
  }
}

.content__top--rollup_title {
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  font-weight: 12px;
  margin-right: 10px;
}

.content__top--ctrl_list {
  float: right;
}

.content__top--ctrl_item {
  display: inline-block;
  margin-left: 12px;
}

.content__top--ctrl_button {
  height: 17px;
  width: 17px;
  fill: #777;
  &:hover {
    svg {
      fill: lightgrey;
    }
  }
}

.content__top--rollut_icon-svg {
  height: 10px;
  width: 15px;
  display: inline-block;
}

.content__table {
  width: 100%;
}

.content__table--titles {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  padding: 15px 0;
  text-align: center;
}

.content__obj {
  text-align: center;
}


/* ----------- popup ----------- */

.popup {
  display: block;
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgba(lightcyan, .5);
  z-index: 15;
}

.popup__wrap {
  position: relative;
  height: 100%;
  width: 100%;
  text-align: center;
}

.popup__window {
  position: absolute;
  height: 320px;
  width: 500px;
  background: #363a46;
  z-index: 16;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 14px;
}

.popup__title {
  display: block;
  color: #528ffe;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin: 45px 0 15px 0;
}

.popup__icon--center {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: linear-gradient(to left, #363a46, #528ffe);
  margin-top: -25px;
  border-radius: 50px;
  svg {
    fill: #fff;
    height: 70%;
    position: absolute;
    left: -1px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

.popup__icon--close {
  position: absolute;
  height: 35px;
  width: 35px;
  background: linear-gradient(to left, #363a46, #528ffe);
  top: 0;
  right: 0;
  border-radius: 50px;
  svg {
    fill: #fff;
    height: 70%;
    position: absolute;
    right: 0px;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

.popup__icon--close:hover {
  background: linear-gradient(to left, #528ffe, white);
  svg {
    fill: #363a46;
  }
}


/* add new table item */

.add__obj--wrapper {
  margin: 20px 40px 0 0;
  display: block;
  text-align: right;
  height: 50px;
  @extend %clearfix;
}

.add__obj--button {
  display: inline-block;
  float: right;
  background: lightgrey;
  height: 100%;
  width: 50px;
  margin-right: -40px;
  border-radius: 50px;
  line-height: 50px;
  text-align: center;
  transform: translateX(-50%);
  z-index: 12;
  &:hover {
    border: 1px solid lightgrey;
    background: #fbfbfb;
    .add__obj--icon {
      color: grey;
    }
  }
}

.add__obj--icon {
  font-size: 35px;
  font-weight: bold;
  color: #fbfbfb;
}


/* vue animation */

.slide-fade-enter-active {
  transition: all .5s ease;
}

.slide-fade-leave-active {
  transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}

.wrap__animation--form {
  overflow: hidden;
  display: inline-block;
  background: #fbfbfb;
  border-top-left-radius: 20px;
}

.block__form--new_obj {
  display: inline-block;
}

.form__new_obj {
  display: block;
  padding: 10px;
  border-right: 0;
  padding-left: 30px;
  text-align: right;
}

.form__titles {
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 20px;
  font-size: 12px;
  color: white;
}

.form__userData {
  color: $c-blue;
  font-size: 14px;
  padding: 3px 5px;
}

.form__radio--pic_list {
  margin-top: 20px;
}

.form__radio--pic_item {
  display: inline-block;
  text-align: center;
  padding: 0 10px 10px 10px;
  input,
  label {
    display: block;
  }
  input {
    margin: auto;
    margin-top: 10px;
  }
}