.nav {
  float: left;
  width: 314px;
  min-height: 100%;
  background: $c-blue;
  color: white;
}

.nav__conteiner {
  padding-left: 30px;
  width: 100%;
}

.nav__left .nav__conteiner {
  padding-left: 40px;
}

.logo__link {
  height: 80px;
  line-height: 80px;
  padding-top: 3px;
}

.logo__link--title {
  font-size: 36px;
  font-weight: normal;
  text-align: left;
  letter-spacing: 3.7px;
}

.logo__link--title::first-letter {
  color: red;
}

.user {
  height: 142px;
  background: linear-gradient(to bottom, $c-green, #af72c5);
  text-align: middle;
}

.user .nav__conteiner {
  height: 100%;
  position: relative;
}

.user__info {
  height: 100%;
  display: flex;
  align-items: center;
  span {
    display: block;
  }
}

.user__info--name,
.user__info--photo {
  display: inline-block;
  vertical-align: middle;
}

.user__info--name {
  margin-left: 20px;
  width: 60%;
  overflow: hidden;
  &:after {
    content: "";
    width: 100%;
    height: 0;
    display: block;
  }
}

.user__info--photo {
  border-radius: 100px;
  height: 62px;
  width: 62px;
  overflow: hidden;
  background: #fff;
  img {
    height: 100%;
    width: 100%;
  }
}

v-one,
v-two,
v-three,
v-four {
  height: 57px;
  width: 57px;
  display: block;
}

.user__info--surname {
  font-size: 20px;
  font-weight: bold;
  &:after {
    content: "";
    width: 100%;
    height: 0;
    display: block;
  }
}

.user__info--company {
  font-size: 16px;
  margin-top: 1px;
}

.nav__item {
  position: relative;
  height: 68px;
  line-height: 68px;
  padding-left: 40px;
  .nav__options--list {
    display: none;
  }
  span {
    color: #fff;
    font-size: 18px;
  }
}

.nav__item--deactive {
  height: 75px;
  line-height: 75px;
  padding-left: 30px;
}

.nav__item--button {
  position: relative;
  cursor: pointer;
  height: 68px;
  width: 100%;
  text-align: left;
}

.nav__item--button_icon,
.nav__item--button_title,
.nav__item--button_arrow {
  display: inline-block;
  vertical-align: middle;
}

.nav__item--button_title {
  margin-left: 20px;
}

.nav__item--button_icon {
  height: 27px;
  width: 27px;
  fill: #fff;
}

.nav__item--button_arrow {
  position: absolute;
  height: 25px;
  top: 0;
  bottom: 0;
  right: 43px;
  margin: auto;
}

.nav__item--button_arrow-svg {
  transform: rotate(90deg);
  height: 7px;
  width: 15px;
}

.message__count {
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 20px;
  background: #f16192;
  border-radius: 10px;
  font-size: 12px !important;
  padding: 3px 6px;
  font-weight: bold;
}


/* ---------------- NAV-ITEM ACTIVE ---------------- */

.nav__options--list {
  display: block;
  margin: 14px 0 22px 30px;
  * {
    transition: all 0.5s ease-in-out;
  }
}

.nav__options--item {
  line-height: 43px;
}

.nav__item--deactive_title {
  text-transform: uppercase;
  font-size: 20px;
}

.nav__item.active {
  height: 100%;
  background: #486e91;
  .nav__item--button_title {
    font-size: 14px;
  }
  .nav__options--list {
    display: block;
  }
  .nav__item--button_arrow-svg {
    transform: rotate(0deg);
  }
  .nav__item--button_icon {
    height: 35px;
    width: 35px;
  }
}

.nav__item:hover {
  .nav__item--button_title {
    color: #46c1fa;
  }
  svg {
    fill: #46c1fa;
  }
  polyline {
    stroke: #46c1fa !important;
  }
}

.nav__item.active:hover {
  .nav__item--button_title {
    color: #fff !important;
  }
  svg {
    fill: #fff !important;
  }
  polyline {
    stroke: #fff !important;
  }
}

.nav__item.active {
  background: #486e91;
  padding: 0;
  .nav__item--button {
    border-left: 5px solid #46c1fa;
    padding-left: 25px;
  }
}